<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Corona Admin</title>

  <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap JS (optional, if you need Bootstrap's JavaScript features) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

  <!-- plugins:css -->

  <!--
    <link rel="stylesheet" href="{% static 'dashboard/template/vendors/mdi/css/materialdesignicons.min.css' %}  ">
  <link rel="stylesheet" href="{% static 'dashboard/template/assets/vendors/css/vendor.bundle.base.css' %}">
 
  <link rel="stylesheet" href="{% static 'dashboard/template/assets/vendors/jvectormap/jquery-jvectormap.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/template/assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/template/assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
  <link rel="stylesheet"
    href="{% static 'dashboard/template/assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
  

  -->
  <link rel="stylesheet" href="{% static 'dashboard/template/assets/css/style.css' %} ">
  <!-- End layout styles 
  <link rel="shortcut icon" href="{% static 'dashboard/template/assets/images/favicon.png' %}" />-->
  <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">
  <style>
    /* Add a container with a fixed height and overflow property */
    .scroll-container {
      height: 22vw;
      /* Set the height as per your requirement */
      overflow: auto;

      /* Enable scroll bars when content overflows the container */

      /* Optional: Add a border for visual clarity */

      /* Optional: Add padding to the container */
    }

    /* Optional: Add some content to see the scrolling effect */
    .scroll-content {
      height: 400px;
      /* Set the content height larger than the container */

    }

    /* Customize scrollbar appearance */
    .scroll-container::-webkit-scrollbar {
      width: 12px;
      /* Set the width of the scrollbar */
    }

    .scroll-container::-webkit-scrollbar-thumb {
      /*background-color: #888;*/
      /* Set the color of the scrollbar thumb */
      border-radius: 6px;
      /* Set the border radius of the scrollbar thumb */
    }

    .scroll-container::-webkit-scrollbar-track {
      /*background-color: #f0f0f0;*/
      /* Set the color of the scrollbar track */
      border-radius: 6px;
      /* Set the border radius of the scrollbar track */
    }













    .scroll-container2 {
      height: 22vw;
      /* Set the height as per your requirement */
      overflow: auto;

      /* Enable scroll bars when content overflows the container */

      /* Optional: Add a border for visual clarity */

      /* Optional: Add padding to the container */
    }

    /* Optional: Add some content to see the scrolling effect */
    .scroll-content2 {
      height: 400px;
      /* Set the content height larger than the container */

    }

    /* Customize scrollbar appearance */
    .scroll-container2::-webkit-scrollbar {
      width: 12px;
      /* Set the width of the scrollbar */
    }

    .scroll-container2::-webkit-scrollbar-thumb {
      /*background-color: #888;*/
      /* Set the color of the scrollbar thumb */
      border-radius: 6px;
      /* Set the border radius of the scrollbar thumb */
    }

    .scroll-container2::-webkit-scrollbar-track {
      /*background-color: #f0f0f0;*/
      /* Set the color of the scrollbar track */
      border-radius: 6px;
      /* Set the border radius of the scrollbar track */
    }




    .card {
      height: 35vw;

    }

    .vsi {
      visibility: hidden;
      width: 0px;
    }





    /* Style for the dropdown container */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Style for the dropdown button (anchor tag) */
    .dropdown a {
      text-decoration: none;
      color: #333;
      padding: 10px;
      display: inline-block;
      cursor: pointer;
    }

    /* Style for the dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 2ch;


      height: 15vw;



    }

    /* Style for the dropdown items */
    .dropdown-content a {
      color: #333;
      padding: 12px 16px;
      display: block;
      text-decoration: none;
    }


    @media only screen and (max-width: 767px) {

      .card {
        height: 50vw;
      }


      .scroll-container2 {
        height: 30vw;
      }

      .vsi {
        visibility: visible;
        width: auto;
      }
    }
  </style>



</head>

<body>






  <!--*************** Script and links*******-->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script>
    var currentValue;

    function checkForChangesAndReload() {
      $.get('/player_reload/', function (data) {
        var newValue = data.value;

        if (currentValue !== undefined && newValue !== currentValue) {
          location.reload(true);  // Force a full page reload
        }

        currentValue = newValue;

        setTimeout(checkForChangesAndReload, 1);  // Repeat every 5 seconds (adjust as needed)
      });
    }

    // Start checking for changes when the page loads
    $(document).ready(function () {
      checkForChangesAndReload();
    });
  </script>







  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <!--  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
            alt="logo" /></a>
      </div>-->
      <ul class="nav" style="width: 110%;">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">






                <h1 id="emoji1" align="center">
                  {% if user.emoji == 1 %}
                  😎
                  {% endif %}



                  {% if user.emoji == 2 %}
                  😃
                  {% endif %}



                  {% if user.emoji == 3 %}
                  😁
                  {% endif %}


                  {% if user.emoji == 4 %}
                  😫
                  {% endif %}


                  {% if user.emoji == 5 %}
                  😡
                  {% endif %}



                </h1>



              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">

                  {{user.username}}

                </h5>
                <span>Gold Member</span>
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Player Info</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="index.html">
            <span class="menu-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 26 26">
                <path fill="#fc1056"
                  d="M16.563 15.9c-.159-.052-1.164-.505-.536-2.414h-.009c1.637-1.686 2.888-4.399 2.888-7.07c0-4.107-2.731-6.26-5.905-6.26c-3.176 0-5.892 2.152-5.892 6.26c0 2.682 1.244 5.406 2.891 7.088c.642 1.684-.506 2.309-.746 2.397c-3.324 1.202-7.224 3.393-7.224 5.556v.811c0 2.947 5.714 3.617 11.002 3.617c5.296 0 10.938-.67 10.938-3.617v-.811c0-2.228-3.919-4.402-7.407-5.557" />
              </svg>
            </span>
            <span class="menu-title">

              {{user.name}}

            </span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256">
                <path fill="#fc1056"
                  d="M231.88 175.08A56.26 56.26 0 0 1 176 224C96.6 224 32 159.4 32 80a56.26 56.26 0 0 1 48.92-55.88a16 16 0 0 1 16.62 9.52l21.12 47.15v.12A16 16 0 0 1 117.39 96c-.18.27-.37.52-.57.77L96 121.45c7.49 15.22 23.41 31 38.83 38.51l24.34-20.71a8.12 8.12 0 0 1 .75-.56a16 16 0 0 1 15.17-1.4l.13.06l47.11 21.11a16 16 0 0 1 9.55 16.62" />
              </svg>
            </span>
            <span class="menu-title">

              {{user.phone}}


            </span>

          </a>

        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="pages/forms/basic_elements.html">
            <span class="menu-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="#fc1056"
                  d="M18.05 21.29a.996.996 0 0 1-1.41 0l-2.12-2.12a.996.996 0 1 1 1.41-1.41l1.41 1.41l3.54-3.54a.996.996 0 1 1 1.41 1.41zM12.08 20H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2h16c1.1 0 2 .9 2 2v6.68A6.995 6.995 0 0 0 12 19c0 .34.03.67.08 1m-.61-7.33c.32.2.74.2 1.06 0l7.07-4.42a.85.85 0 1 0-.9-1.44L12 11L5.3 6.81a.85.85 0 1 0-.9 1.44z" />
              </svg>
            </span>
            <span class="menu-title" style="font-size: 66%;">

              {{user.email}}

            </span>
          </a>
        </li>
        <li class="nav-item menu-items">


          <span align="center" class=" " style="color: #626785;">
            <h4 align="center"> ___________________
            </h4>

            <h3 align="center"> <a id="gameLink_{{ i.id }}" class="game-link"
                href="{% url 'Emoji_User' value='1' id=user.id %}">
                😎
              </a>

              <a id="gameLink_{{ i.id }}" class="game-link" href="{% url 'Emoji_User' value='2' id=user.id %}">
                😃
              </a>

              <a id="gameLink_{{ i.id }}" class="game-link" href="{% url 'Emoji_User' value='3' id=user.id %}">
                😁
              </a>

              <a id="gameLink_{{ i.id }}" class="game-link" href="{% url 'Emoji_User' value='4' id=user.id %}">
                😫
              </a>
              <a id="gameLink_{{ i.id }}" class="game-link" href="{% url 'Emoji_User' value='5' id=user.id %}">
                😡
              </a>

            </h3>


          </span>



        </li>




      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">








          <div class="profile-pic">
            <div class="count-indicator">




              <table>
                <tr>
                  <td>

                    <div class="dropdown">
                      <!-- Dropdown button (anchor tag) -->
                      <a style="font-size: 7vw;" onclick="toggleDropdown()" class="dropbtn">

                        {% if user.emoji == 1 %}
                        😎
                        {% endif %}



                        {% if user.emoji == 2 %}
                        😃
                        {% endif %}



                        {% if user.emoji == 3 %}
                        😁
                        {% endif %}


                        {% if user.emoji == 4 %}
                        😫
                        {% endif %}


                        {% if user.emoji == 5 %}
                        😡
                        {% endif %}





                      </a>

                      <!-- Dropdown content -->
                      <div id="myDropdown" class="dropdown-content">
                        <a href="#">



                          <h2 align="center">

                            <table>
                              <tr>
                                <td><a id="gameLink_{{ i.id }}" class="game-link"
                                    href="{% url 'Emoji_User' value='1' id=user.id %}">
                                    😎
                                  </a></td>
                                <td><a id="gameLink_{{ i.id }}" class="game-link"
                                    href="{% url 'Emoji_User' value='2' id=user.id %}">
                                    😃
                                  </a></td>
                                <td>
                                  <a id="gameLink_{{ i.id }}" class="game-link"
                                    href="{% url 'Emoji_User' value='3' id=user.id %}">
                                    😁
                                  </a>
                                </td>
                                <td> <a id="gameLink_{{ i.id }}" class="game-link"
                                    href="{% url 'Emoji_User' value='4' id=user.id %}">
                                    😫
                                  </a></td>
                                <td><a id="gameLink_{{ i.id }}" class="game-link"
                                    href="{% url 'Emoji_User' value='5' id=user.id %}">
                                    😡
                                  </a></td>

                              </tr>
                            </table>


                          </h2>



                        </a>

                      </div>
                    </div>




                  </td>


                </tr>
              </table>




            </div>

          </div>






          <script>
            // Function to toggle the display of the dropdown content
            function toggleDropdown() {
              var dropdownContent = document.getElementById("myDropdown");
              if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
              } else {
                dropdownContent.style.display = "block";
              }
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
              if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.style.display === "block") {
                    openDropdown.style.display = "none";
                  }
                }
              }
            }
          </script>


        </div>































        <div class="">








          <div class="profile-pic">
            <div class="count-indicator">






              <h5 class="mb-0 font-weight-normal vsi">

                {{user.username}}

              </h5>




            </div>

          </div>








        </div>



























        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-control" placeholder="Search Players">
              </form>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-lg-block">

              <a class="nav-link btn btn-danger create-new-button  " href="{% url 'LogOut'  %}">Logout</a>




            </li>



            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-view-grid"></i>
              </a>
            </li>





            <li class="nav-item dropdown border-left vsi">



              <a class="nav-link btn btn-danger create-new-button     vsi" href="{% url 'LogOut'  %}">Logout</a>



            </li>


            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
                aria-expanded="false">
                <i class="mdi mdi-email"></i>
                <span class="count bg-success"></span>
              </a>

            </li>
            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                data-toggle="dropdown">
                <i class="mdi mdi-bell"></i>
                <span class="count bg-danger"></span>
              </a>


              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Event today</p>
                    <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event
                      today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                    <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-link-variant text-warning"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Launch Admin</p>
                    <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">See all notifications</p>
              </div>
            </li>

          </ul>

          <!-- <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>-->


        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <!-- <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card corona-gradient-card">
                <div class="card-body py-0 px-0 px-sm-3">
                  <div class="row align-items-center">
                    <div class="col-4 col-sm-3 col-xl-2">
                      <img src="assets/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                    </div>
                    <div class="col-5 col-sm-7 col-xl-8 p-0">
                      <h4 class="mb-1 mb-sm-0">Want even more features?</h4>
                      <p class="mb-0 font-weight-normal d-none d-sm-block">Check out our Pro version with 5 unique
                        layouts!</p>
                    </div>
                    <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                      <span>
                        <a href="https://www.bootstrapdash.com/product/corona-admin-template/" target="_blank"
                          class="btn btn-outline-light btn-rounded get-started-btn">Upgrade to PRO</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

          <div class="row">




            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Game Request's </h4>


                  <div class="scroll-container">
                    <div class="scroll-content">




                      {% for i in requests %}
                      {% if i.player2 == LoginId %}

                      {% if i.status != 'end' %}

                      <h1>
                        <form action="" method="post">
                          <!--{{ i.id }}
                                                    {{ i.player1 }}-->


                          <div
                            class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                            <div class="text-md-center text-xl-left">

                              <h6 class="mb-1" style="color: white;">



                                <span style="font-size: 2.4ch;">
                                  {% for j in view %}
                                  {% if j.id == i.player1%}


                                  {% if j.emoji == 1 %}
                                  😎
                                  {% endif %}



                                  {% if j.emoji == 2 %}
                                  😃
                                  {% endif %}



                                  {% if j.emoji == 3 %}
                                  😁
                                  {% endif %}


                                  {% if j.emoji == 4 %}
                                  😫
                                  {% endif %}


                                  {% if j.emoji == 5 %}
                                  😡
                                  {% endif %}





                                  {% endif %}

                                  {% endfor %}
                                </span>

                                {{ i.player1name }}
                              </h6>
                              <p class="text-muted mb-0">is challenging you</p>
                            </div>
                            <div
                              class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                              <h6 class="font-weight-bold mb-0"> {% csrf_token %}
                                <a href="{% url 'GamePage_accept' i.id %}"
                                  class=" btn badge-outline-primary create-new-button" id="createbuttonDropdown"
                                  style="width: 80%;" align="right">
                                  Accept
                                </a>






                              </h6>
                            </div>
                          </div>



                        </form>
                      </h1>

                      {% endif %}
                      {% endif %}
                      {% endfor %}



                      <!-- Your content goes here -->

                      <!-- Repeat this as needed -->



                    </div>
                  </div>


                  <!-- <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                      <h6 class="mb-1">Tranfer to Stripe</h6>
                      <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p>
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                      <h6 class="font-weight-bold mb-0">$593</h6>
                    </div>
                  </div>-->



                </div>
              </div>
            </div>






            <div class="col-md-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-between">
                    <h4 class="card-title mb-1"> Online Players</h4>
                    <p class="text-muted mb-1">Send Request to play</p>
                  </div>


                  <div class="scroll-container2">
                    <div class="scroll-content2">



                      {% for i in view %}
                      {% if i.status == 'online' %}
                      {% if i.id != LoginId %}



                      <form action="" method="post">
                        <!--

                                                    {{ i.id }}
                                                {{ i.status }}

                                                -->


                        <div class="row">
                          <div class="col-12">
                            <div class="preview-list">
                              <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                  <h1 id="emoji1" align="center">
                                    {% if i.emoji == 1 %}
                                    😎
                                    {% endif %}



                                    {% if i.emoji == 2 %}
                                    😃
                                    {% endif %}



                                    {% if i.emoji == 3 %}
                                    😁
                                    {% endif %}


                                    {% if i.emoji == 4 %}
                                    😫
                                    {% endif %}


                                    {% if i.emoji == 5 %}
                                    😡
                                    {% endif %}



                                  </h1>

                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                  <div class="flex-grow">
                                    <h6 class="preview-subject" style="color: white;"> {{ i.name }}
                                    </h6>
                                    <p class="text-muted mb-0">is online you can challenge this player
                                    </p>
                                  </div>


                                  <div class="mr-auto text pt-2 pt-sm-2" style="width: 30%;">

                                    {% csrf_token %}



                                    <a style="color: rgb(37, 213, 37); " align="left">
                                      Online
                                    </a>

                                  </div>



                                  <div class="mr-auto text-sm-right pt-2 pt-sm-0">

                                    {% csrf_token %}



                                    <a class="nav-link btn badge-outline-success create-new-button"
                                      id="createbuttonDropdown" href="{% url 'registerServer' i.id %}">
                                      chalange
                                    </a>

                                  </div>
                                </div>
                              </div>
                            </div>




                      </form>
                      {% endif %}
                      {% endif %}
                      {% endfor %}








                    </div>
                  </div>



                </div>
              </div>




            </div>
          </div>
        </div>
      </div>




      <!--
            <div class="row">
            <div class="col-sm-4 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h5>Revenue</h5>
                  <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0">$32123</h2>
                        <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                      </div>
                      <h6 class="text-muted font-weight-normal">11.38% Since last month</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h5>Sales</h5>
                  <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0">$45850</h2>
                        <p class="text-success ml-2 mb-0 font-weight-medium">+8.3%</p>
                      </div>
                      <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h5>Purchase</h5>
                  <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0">$2039</h2>
                        <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p>
                      </div>
                      <h6 class="text-muted font-weight-normal">2.27% Since last month</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->

















      <!-- <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Order Status</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                              </label>
                            </div>
                          </th>
                          <th> Client Name </th>
                          <th> Order No </th>
                          <th> Product Cost </th>
                          <th> Project </th>
                          <th> Payment Mode </th>
                          <th> Start Date </th>
                          <th> Payment Status </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                              </label>
                            </div>
                          </td>
                          <td>
                            <img src="assets/images/faces/face1.jpg" alt="image" />
                            <span class="pl-2">Henry Klein</span>
                          </td>
                          <td> 02312 </td>
                          <td> $14,500 </td>
                          <td> Dashboard </td>
                          <td> Credit card </td>
                          <td> 04 Dec 2019 </td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                              </label>
                            </div>
                          </td>
                          <td>
                            <img src="assets/images/faces/face2.jpg" alt="image" />
                            <span class="pl-2">Estella Bryan</span>
                          </td>
                          <td> 02312 </td>
                          <td> $14,500 </td>
                          <td> Website </td>
                          <td> Cash on delivered </td>
                          <td> 04 Dec 2019 </td>
                          <td>
                            <div class="badge badge-outline-warning">Pending</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                              </label>
                            </div>
                          </td>
                          <td>
                            <img src="assets/images/faces/face5.jpg" alt="image" />
                            <span class="pl-2">Lucy Abbott</span>
                          </td>
                          <td> 02312 </td>
                          <td> $14,500 </td>
                          <td> App design </td>
                          <td> Credit card </td>
                          <td> 04 Dec 2019 </td>
                          <td>
                            <div class="badge badge-outline-danger">Rejected</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                              </label>
                            </div>
                          </td>
                          <td>
                            <img src="assets/images/faces/face3.jpg" alt="image" />
                            <span class="pl-2">Peter Gill</span>
                          </td>
                          <td> 02312 </td>
                          <td> $14,500 </td>
                          <td> Development </td>
                          <td> Online Payment </td>
                          <td> 04 Dec 2019 </td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                              </label>
                            </div>
                          </td>
                          <td>
                            <img src="assets/images/faces/face4.jpg" alt="image" />
                            <span class="pl-2">Sallie Reyes</span>
                          </td>
                          <td> 02312 </td>
                          <td> $14,500 </td>
                          <td> Website </td>
                          <td> Credit card </td>
                          <td> 04 Dec 2019 </td>
                          <td>
                            <div class="badge badge-outline-success">Approved</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>-->





      <!--

                    <div class="row">
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-between">
                    <h4 class="card-title">Messages</h4>
                    <p class="text-muted mb-1 small">View all</p>
                  </div>
                  <div class="preview-list">
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <img src="assets/images/faces/face6.jpg" alt="image" class="rounded-circle" />
                      </div>
                      <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                          <div class="d-flex d-md-block d-xl-flex justify-content-between">
                            <h6 class="preview-subject">Leonard</h6>
                            <p class="text-muted text-small">5 minutes ago</p>
                          </div>
                          <p class="text-muted">Well, it seems to be working now.</p>
                        </div>
                      </div>
                    </div>
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <img src="assets/images/faces/face8.jpg" alt="image" class="rounded-circle" />
                      </div>
                      <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                          <div class="d-flex d-md-block d-xl-flex justify-content-between">
                            <h6 class="preview-subject">Luella Mills</h6>
                            <p class="text-muted text-small">10 Minutes Ago</p>
                          </div>
                          <p class="text-muted">Well, it seems to be working now.</p>
                        </div>
                      </div>
                    </div>
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <img src="assets/images/faces/face9.jpg" alt="image" class="rounded-circle" />
                      </div>
                      <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                          <div class="d-flex d-md-block d-xl-flex justify-content-between">
                            <h6 class="preview-subject">Ethel Kelly</h6>
                            <p class="text-muted text-small">2 Hours Ago</p>
                          </div>
                          <p class="text-muted">Please review the tickets</p>
                        </div>
                      </div>
                    </div>
                    <div class="preview-item border-bottom">
                      <div class="preview-thumbnail">
                        <img src="assets/images/faces/face11.jpg" alt="image" class="rounded-circle" />
                      </div>
                      <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                          <div class="d-flex d-md-block d-xl-flex justify-content-between">
                            <h6 class="preview-subject">Herman May</h6>
                            <p class="text-muted text-small">4 Hours Ago</p>
                          </div>
                          <p class="text-muted">Thanks a lot. It was easy to fix it .</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Portfolio Slide</h4>
                  <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel"
                    id="owl-carousel-basic">
                    <div class="item">
                      <img src="assets/images/dashboard/Rectangle.jpg" alt="">
                    </div>
                    <div class="item">
                      <img src="assets/images/dashboard/Img_5.jpg" alt="">
                    </div>
                    <div class="item">
                      <img src="assets/images/dashboard/img_6.jpg" alt="">
                    </div>
                  </div>
                  <div class="d-flex py-4">
                    <div class="preview-list w-100">
                      <div class="preview-item p-0">
                        <div class="preview-thumbnail">
                          <img src="assets/images/faces/face12.jpg" class="rounded-circle" alt="">
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <h6 class="preview-subject">CeeCee Bass</h6>
                              <p class="text-muted text-small">4 Hours Ago</p>
                            </div>
                            <p class="text-muted">Well, it seems to be working now.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted">Well, it seems to be working now. </p>
                  <div class="progress progress-md portfolio-progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">To do list</h4>
                  <div class="add-items d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="enter task..">
                    <button class="add btn btn-primary todo-list-add-btn">Add</button>
                  </div>
                  <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse text-white todo-list todo-list-custom">
                      <li>
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input class="checkbox" type="checkbox"> Create invoice </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                      </li>
                      <li>
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input class="checkbox" type="checkbox"> Meeting with Alita </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                      </li>
                      <li class="completed">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input class="checkbox" type="checkbox" checked> Prepare for presentation </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                      </li>
                      <li>
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input class="checkbox" type="checkbox"> Plan weekend outing </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                      </li>
                      <li>
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input class="checkbox" type="checkbox"> Pick up kids from school </label>
                        </div>
                        <i class="remove mdi mdi-close-box"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Visitors by Countries</h4>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td>
                                <i class="flag-icon flag-icon-us"></i>
                              </td>
                              <td>USA</td>
                              <td class="text-right"> 1500 </td>
                              <td class="text-right font-weight-medium"> 56.35% </td>
                            </tr>
                            <tr>
                              <td>
                                <i class="flag-icon flag-icon-de"></i>
                              </td>
                              <td>Germany</td>
                              <td class="text-right"> 800 </td>
                              <td class="text-right font-weight-medium"> 33.25% </td>
                            </tr>
                            <tr>
                              <td>
                                <i class="flag-icon flag-icon-au"></i>
                              </td>
                              <td>Australia</td>
                              <td class="text-right"> 760 </td>
                              <td class="text-right font-weight-medium"> 15.45% </td>
                            </tr>
                            <tr>
                              <td>
                                <i class="flag-icon flag-icon-gb"></i>
                              </td>
                              <td>United Kingdom</td>
                              <td class="text-right"> 450 </td>
                              <td class="text-right font-weight-medium"> 25.00% </td>
                            </tr>
                            <tr>
                              <td>
                                <i class="flag-icon flag-icon-ro"></i>
                              </td>
                              <td>Romania</td>
                              <td class="text-right"> 620 </td>
                              <td class="text-right font-weight-medium"> 10.25% </td>
                            </tr>
                            <tr>
                              <td>
                                <i class="flag-icon flag-icon-br"></i>
                              </td>
                              <td>Brasil</td>
                              <td class="text-right"> 230 </td>
                              <td class="text-right font-weight-medium"> 75.00% </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div id="audience-map" class="vector-map"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
          -->





      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2024 All rights
            reserved | This template is made with <span style="color: red;">❤</span> by Malasidha</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Malasidha <a
              href="https://malasidha.netlify.app/" target="_blank">
              | Portfolio
            </a> </span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->










  <!-- *****************  check for acceptance of your requests**************************-->




  <p>
    {% for i in requests %}
    {% if i.player1 == LoginId %}
  <h1>
    <form action="" method="post">
      {% csrf_token %}
      <a id="gameLink_{{ i.id }}" class="game-link" href="{% url 'GamePage_sender' i.id %}">
        .
      </a>
    </form>
  </h1>



  {% if i.status == "start" %}
  <script>
    document.getElementById('gameLink_{{ i.id }}').click();
  </script>
  {% endif %}

  {% endif %}
  {% endfor %}
  </p>









</body>

</html>